#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}



.revNow {
  color: green;
}

.calculator {
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
}